<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gonzalosistemas.esclafon"
        version   = "1.0.0">

    <name>Censos</name>

    <description>App para realizar censos.</description>

    <author href="http://gonzalosistemas.com.ar" email="gonzalo.farfanuk@gmail.com">gonzalosistemas</author>

    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="landscape" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
	
    <icon src="icon.png" />	
    <access origin="*"/>
</widget>
